@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #111827;
}

#root {
  min-height: 100vh;
}
