* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard, sans-serif";
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

#root {
  min-height: 100vh;
}
